*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#clockcontainer
{
    background-image: url(../image/clock.png);
    width: 40vw;
    height: 40vw;
    margin: 50px auto;
    background-size: 100%;
    position: relative;
}
#hour,#minute,#second
{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour
{
    width: 1.85%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}
#minute
{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}
#second
{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}